In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("car_dheko.csv")

In [3]:
df

,Unnamed: 0,it,ft,bt,km,transmission,ownerNo,owner,oem,model,...,Interior,Exterior,Safety,Mileage,Engine,Max Power,Torque,Seats.1,Wheel Size,state
0,0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,...,"Air Conditioner, Heater, Digital Odometer, Ele...","Adjustable Head Lights, Manually Adjustable Ex...","Centeral Locking, Child Safety Locks, Day Nigh...",23.1 kmpl,998 CC,67.04bhp,90Nm,5.0,NaN,Bangalore
1,1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,...,"Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...",17 kmpl,1497 CC,121.31bhp,150Nm,5.0,16,Bangalore
2,2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,...,"Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...",23.84 kmpl,1199 CC,84bhp,114Nm,5.0,14,Bangalore
3,3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,...,"Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...",19.1 kmpl,1197 CC,81.86bhp,113.75Nm,5.0,14,Bangalore
4,4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,...,"Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...",23.65 kmpl,1248 CC,88.5bhp,200Nm,5.0,16,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,8364,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Mahindra,Mahindra XUV500,...,"Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Ch...",15.1 kmpl,2179 CC,140bhp,330Nm,7.0,17,Hyderabad
8365,8365,0,Diesel,Sedan,"50,000",Automatic,1,1st Owner,Jaguar,Jaguar XF,...,"Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Power Adjustable Exter...","Anti Lock Braking System, Brake Assist, Center...",14.74 kmpl,2993 CC,270.9bhp,600Nm,5.0,20,Hyderabad
8366,8366,0,Diesel,Sedan,"1,20,000",Automatic,3,3rd Owner,BMW,BMW 5 Series,...,"Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Brake Assist, Center...",20.37 kmpl,1995 CC,187.74bhp,400Nm,5.0,R18,Hyderabad
8367,8367,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Tata,Tata Nexon,...,"Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Power Adjustable Exter...","Anti Lock Braking System, Centeral Locking, Po...",21.5 kmpl,1497 CC,108.5bhp,260Nm,5.0,NaN,Hyderabad
8368,8368,0,Diesel,MUV,"1,00,000",Manual,1,1st Owner,Toyota,Toyota Innova,...,"Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...",12.99 kmpl,2494 CC,100.6bhp,200Nm,7.0,15,Hyderabad

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           8369 non-null   int64
 1   it                   8369 non-null   int64
 2   ft                   8369 non-null   object
 3   bt                   8365 non-null   object
 4   km                   8369 non-null   object
 5   transmission         8369 non-null   object
 6   ownerNo              8369 non-null   int64
 7   owner                8369 non-null   object
 8   oem                  8369 non-null   object
 9   model                8369 non-null   object
 10  modelYear            8369 non-null   int64
 11  centralVariantId     8369 non-null   int64
 12  variantName          8369 non-null   object
 13  price                8369 non-null   object
 14  priceActual          1670 non-null   object
 15  priceSaving          0 non-null      float64
 16  priceFixedText       0 non-null      float64
 17  trendingText         8369 non-null   object
 18  Registration Year    8317 non-null   object
 19  Insurance Validity   8365 non-null   object
 20  Fuel Type            8369 non-null   object
 21  Seats                8363 non-null   object
 22  Kms Driven           8367 non-null   object
 23  RTO                  7475 non-null   object
 24  Ownership            8337 non-null   object
 25  Engine Displacement  8365 non-null   object
 26  Transmission         8369 non-null   object
 27  Year of Manufacture  8349 non-null   float64
 28  Comfort              8301 non-null   object
 29  Interior             8292 non-null   object
 30  Exterior             8279 non-null   object
 31  Safety               8273 non-null   object
 32  Mileage              8082 non-null   object
 33  Engine               8365 non-null   object
 34  Max Power            8309 non-null   object
 35  Torque               8309 non-null   object
 36  Seats.1              8363 non-null   float64
 37  Wheel Size           5386 non-null   object
 38  state                8369 non-null   object
dtypes: float64(4), int64(5), object(30)
memory usage: 2.5+ MB

In [78]:

# Threshold for dropping columns (80% missing values)
threshold = 0.8

# Calculate the threshold for the number of missing values
missing_threshold = len(df) * threshold

# Keep a list of original columns
original_columns = df.columns

# Drop columns with more than 80% missing values
df_cleaned = df.dropna(axis=1, thresh=len(df) - missing_threshold)

# Identify deleted columns
deleted_columns = original_columns.difference(df_cleaned.columns)

print("Original columns:", original_columns)
print("Deleted columns:", deleted_columns)

Original columns: Index(['Unnamed: 0', 'it', 'ft', 'bt', 'km', 'transmission', 'ownerNo',
       'owner', 'oem', 'model', 'modelYear', 'centralVariantId', 'variantName',
       'price', 'priceActual', 'priceSaving', 'priceFixedText', 'trendingText',
       'Registration Year', 'Insurance Validity', 'Fuel Type', 'Seats',
       'Kms Driven', 'RTO', 'Ownership', 'Engine Displacement', 'Transmission',
       'Year of Manufacture', 'Comfort', 'Interior', 'Exterior', 'Safety',
       'Mileage', 'Engine', 'Max Power', 'Torque', 'Seats.1', 'Wheel Size',
       'state'],
      dtype='object')
Deleted columns: Index(['priceActual', 'priceFixedText', 'priceSaving'], dtype='object')

In [79]:
df = df_cleaned

In [81]:
pd.set_option('display.max_columns', None)

In [82]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [85]:
df=df.drop(columns="unnamed:_0")

In [86]:
df.isna().sum()

it                        0
ft                        0
bt                        4
km                        0
transmission              0
ownerno                   0
owner                     0
oem                       0
model                     0
modelyear                 0
centralvariantid          0
variantname               0
price                     0
trendingtext              0
registration_year        52
insurance_validity        4
fuel_type                 0
seats                     6
kms_driven                2
rto                     894
ownership                32
engine_displacement       4
transmission              0
year_of_manufacture      20
comfort                  68
interior                 77
exterior                 90
safety                   96
mileage                 287
engine                    4
max_power                60
torque                   60
seats.1                   6
wheel_size             2983
state                     0
dtype: int64

In [87]:
df["bt"] = df["bt"].fillna(df["bt"].mode()[0])

In [88]:
df['registration_year'] = pd.to_numeric(df['registration_year'], errors='coerce')
df["registration_year"] = df["registration_year"].fillna(df["registration_year"].mean())

In [89]:
df["insurance_validity"] = df["insurance_validity"].fillna(df["insurance_validity"].mode()[0])

In [90]:
df["seats"] = df["seats"].fillna(df["seats"].mode()[0])

In [91]:
df["kms_driven"] = df["kms_driven"].fillna(df["kms_driven"].mode()[0])

In [92]:
df["rto"] = df["rto"].fillna(df["rto"].mode()[0])

In [93]:
df["ownership"] = df["ownership"].fillna(df["ownership"].mode()[0])

In [94]:
df["engine_displacement"] = df["engine_displacement"].fillna(df["engine_displacement"].mode()[0])

In [95]:
df["year_of_manufacture"] = df["year_of_manufacture"].fillna(df["year_of_manufacture"].mean())

In [96]:
df["mileage"] = df["mileage"].fillna(df["mileage"].mode()[0])

In [97]:
df= df.dropna(axis=1, how='any')

In [98]:
df.columns

Index(['it', 'ft', 'bt', 'km', 'transmission', 'ownerno', 'owner', 'oem',
       'model', 'modelyear', 'centralvariantid', 'variantname', 'price',
       'trendingtext', 'registration_year', 'insurance_validity', 'fuel_type',
       'seats', 'kms_driven', 'rto', 'ownership', 'engine_displacement',
       'transmission', 'year_of_manufacture', 'mileage', 'state'],
      dtype='object')

In [104]:
columns_to_drop = ["it", "ft", "ownerno", "centralvariantid", "variantname", "trendingtext", "registration_year", "kms_driven", "ownership", "year_of_manufacture","transmission"]
df_dropped = df.drop(columns=columns_to_drop)

In [106]:
df=df_dropped

In [107]:
df

,bt,km,owner,oem,model,modelyear,price,insurance_validity,fuel_type,seats,rto,engine_displacement,mileage,state
0,Hatchback,"1,20,000",3rd Owner,Maruti,Maruti Celerio,2015,₹ 4 Lakh,Third Party insurance,Petrol,5 Seats,KA51,998 cc,23.1 kmpl,Bangalore
1,SUV,"32,706",2nd Owner,Ford,Ford Ecosport,2018,₹ 8.11 Lakh,Comprehensive,Petrol,5 Seats,KA05,1497 cc,17 kmpl,Bangalore
2,Hatchback,"11,949",1st Owner,Tata,Tata Tiago,2018,₹ 5.85 Lakh,Comprehensive,Petrol,5 Seats,KA03,1199 cc,23.84 kmpl,Bangalore
3,Sedan,"17,794",1st Owner,Hyundai,Hyundai Xcent,2014,₹ 4.62 Lakh,Comprehensive,Petrol,5 Seats,KA53,1197 cc,19.1 kmpl,Bangalore
4,SUV,"60,000",1st Owner,Maruti,Maruti SX4 S Cross,2015,₹ 7.90 Lakh,Third Party insurance,Diesel,5 Seats,KA04,1248 cc,23.65 kmpl,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,SUV,"60,000",1st Owner,Mahindra,Mahindra XUV500,2013,₹ 7 Lakh,Third Party insurance,Diesel,7 Seats,TS09,2179 cc,15.1 kmpl,Hyderabad
8365,Sedan,"50,000",1st Owner,Jaguar,Jaguar XF,2014,₹ 20 Lakh,Third Party insurance,Diesel,5 Seats,WB02,2993 cc,14.74 kmpl,Hyderabad
8366,Sedan,"1,20,000",3rd Owner,BMW,BMW 5 Series,2018,₹ 35 Lakh,Third Party insurance,Diesel,5 Seats,TS09,1995 cc,20.37 kmpl,Hyderabad
8367,SUV,"50,000",2nd Owner,Tata,Tata Nexon,2019,₹ 8.50 Lakh,Third Party insurance,Diesel,5 Seats,TS08,1497 cc,21.5 kmpl,Hyderabad
8368,MUV,"1,00,000",1st Owner,Toyota,Toyota Innova,2015,₹ 15 Lakh,Third Party insurance,Diesel,7 Seats,WB02,2494 cc,12.99 kmpl,Hyderabad

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8369 entries, 0 to 8368
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   bt                   8369 non-null   object
 1   km                   8369 non-null   object
 2   owner                8369 non-null   object
 3   oem                  8369 non-null   object
 4   model                8369 non-null   object
 5   modelyear            8369 non-null   int64
 6   price                8369 non-null   object
 7   insurance_validity   8369 non-null   object
 8   fuel_type            8369 non-null   object
 9   seats                8369 non-null   object
 10  rto                  8369 non-null   object
 11  engine_displacement  8369 non-null   object
 12  mileage              8369 non-null   object
 13  state                8369 non-null   object
dtypes: int64(1), object(13)
memory usage: 915.5+ KB

In [110]:
df.to_csv("car_dheko_cleaned_data.csv")